name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Muddle
        uses: demonnic/build-with-muddler@v1.3

      - name: Upload MPackage
        uses: actions/upload-artifact@v4
        with:
          name: FierymudOfficial-package
          path: build/tmp/

#      - name: release
#        uses: actions/create-release@v1
#        id: create_release
#        with:
#          draft: false
#          prerelease: true
#          release_name: ${{ steps.version.outputs.version }}
#          tag_name: ${{ github.ref }}
#        env:
#          GITHUB_TOKEN: ${{ github.token }}
